.app.light{
  --bg-color : #ece9e9;
  --inverted-bg-color : #020233;

  --primary-color : #062257;
  --secondary-color : #2349ea;

  --inverted-primary-color : #02ef02;
  --inverted-secondary-color : #159415;

}