.app.dark{
    --bg-color : #020233;
    --inverted-bg-color : #ece9e9;


    --primary-color : #02ef02;
    --secondary-color : #159415;

    --inverted-primary-color : #062257;
    --inverted-secondary-color : #2349ea;

}