.EditArticleDetailsPageHeader {
    display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
}

.backToArticleList{

}
.articleHandlerWrapper{
  display: flex;
  gap : 20px;
}