.ArticlesDetailsPage {

}

.commentTitle {
  margin-top: 20px;
}

.articleRecommendations{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}